/* NAME:JEGADHEESWARAN B
DATE:7/12/23 */
.searchBookFormContainer{
    display: inline;

}
.searchIcon{
    display: inline;
  
}
.searchFormGroup {
    margin-bottom: 25px;
    padding-bottom: 10px;  
    display: flex; 
   
}
.searchFormGroup input{
   
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid teal;
    font-size: 25px;
    background-color: rgba(0, 0, 0,0 );    
    color: white    
}
.searchFormGroup input::placeholder{
    color: teal;
    font-size: 25px;
    
}
.searchIcon{
    font-size: 30px;
    display: inline;
    color: teal;
    
}